In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import ast
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'http://storage.googleapis.com/play_public/supported_devices.html'
r = requests.get(url)
soup = BeautifulSoup(r.content, 'lxml')

In [17]:
td = []
rows = soup.findAll('tr')
for r in rows:
    td.append(r.findAll('td'))

In [30]:
td1 =[]
for r in td:
    for t in r:
    
       td1.append(str(t).replace('<td>','').replace('</td>',''))

In [36]:
td1
rb = []
mn = []
d = []
m = []
for i in range(len(td1)):
    if(i%4 ==0):
        rb.append(td1[i])
    
    if(i%4 ==1):
        mn.append(td1[i])
    if(i%4 ==2):
        d.append(td1[i])
    if(i%4 ==3):
        m.append(td1[i])

In [40]:
google_dm_map = pd.DataFrame({'Retail Branding':rb,'Market Name':mn,'Device':d,'Model':m})
google_dm_map.to_csv('google_map_device_model.csv')

In [3]:
google_dm_map=pd.read_csv('data/google_map_device_model.csv')

In [4]:
device_sys = pd.read_csv('data/Device_Data.csv')

In [5]:
device_sys_list = list(set(device_sys.model.tolist()))

In [6]:
name = []
brand = []
sys_name = []
for i in device_sys_list:
    
    if i in google_dm_map.Model.tolist():
        sys_name.append(i)
        ind = google_dm_map.Model.tolist().index(i)
        name.append(google_dm_map['Market Name'].iloc[ind])
        brand.append(google_dm_map['Retail Branding'].iloc[ind])

In [7]:
sys_name_tup = list(zip(sys_name,name,brand))

In [8]:
brand_di = {}
for i in brand:
    brand_di[i] = []
for i in range(len(sys_name_tup)):
    brand_di[sys_name_tup[i][2]].append(list(sys_name_tup[i][0:2]))

In [156]:
# pricebaba = pd.read_csv('data/Model_Price.csv')
# pricebaba1 = pd.read_csv('data/Model_Price_HL.csv')

In [157]:
# import re
# pricebaba.Device_Name = pricebaba.Device_Name.apply(lambda x: re.sub('[\w]+GB','',x))
# pricebaba.Device_Name = pricebaba.Device_Name.apply(lambda x: x.strip())

# import re
# pricebaba1.Device_Name = pricebaba1.Device_Name.apply(lambda x: re.sub('[\w]+GB','',x))
# pricebaba1.Device_Name = pricebaba1.Device_Name.apply(lambda x: x.strip())

In [9]:
def get_pricebaba(inp):
    try:
        inp.replace('','+')
        url = 'https://pricebaba.com/search?q='+str(inp)
        r = requests.get(url)
        soup = BeautifulSoup(r.content, 'lxml')
        pr = soup.findAll('span',{'class':'d-block txt-al-c'})[0].getText()
        return pr
    except:
        return 0
for i in tqdm(brand_di):
    
    for it in range(len(brand_di[i])):
        
        pri = get_pricebaba(brand_di[i][it][1])
        if(pri !=0 ):
            brand_di[i][it].append(pri)
        else:
            brand_di[i][it].append(0)
        print(brand_di[i][it][1:3])

  0%|          | 0/42 [00:00<?, ?it/s]

['Galaxy A8', 'Rs. 19,490']
['Galaxy J4', 'Rs. 8,490']
['Galaxy S8', 'Rs. 49,990']
['Galaxy Grand2', 'Rs. 28,490']
['Galaxy On Max', 'Rs. 9,499']
['Galaxy S9', 'Rs. 24,999']
['Galaxy J2 Pro', 'Rs. 9,928']
['Galaxy J7 Pro', 'Rs. 20,000']
['Galaxy On7 Prime', 'Rs. 9,977']
['Galaxy Note8', 'Rs. 28,490']
['Galaxy C9 Pro', 'Rs. 4,140']
['Galaxy Note4', 'Rs. 28,490']
['Galaxy J7', 'Rs. 10,990']
['Galaxy J2 Prime', 'Rs. 6,799']
['Galaxy J5', 'Rs. 13,500']
['Galaxy A6+', 'Rs. 19,999']
['Galaxy A8(2018)', 'Rs. 19,490']
['Galaxy A3(2017)', 'Rs. 25,900']
['Galaxy C9 Pro', 'Rs. 4,140']
['Galaxy J5 Prime', 'Rs. 13,500']
['Galaxy S9', 'Rs. 24,999']
['Galaxy A50', 'Rs. 15,899']
['Galaxy Note5', 'Rs. 28,490']
['Galaxy S8+', 'Rs. 49,990']
['Galaxy J6+', 'Rs. 10,490']
['Galaxy A5(2017)', 'Rs. 25,900']
['Galaxy A8 Star', 'Rs. 34,999']
['Galaxy On7', 'Rs. 9,977']
['Galaxy Ace 4', 'Rs. 28,490']
['Galaxy C9 Pro', 'Rs. 4,140']
['Galaxy A9 (2018)', 'Rs. 25,990']
['SM-J337A', 'Rs. 49,990']
['Galaxy S6 Edge', 'Rs. 37,299']
['Galaxy Grand Prime Pro', 'Rs. 7,990']
['Galaxy S8+', 'Rs. 49,990']
['Galaxy J7 Duo', 'Rs. 13,900']
['Galaxy J5(2016)', 'Rs. 12,990']
['Galaxy E7', 'Rs. 28,490']
['Galaxy Grand Prime', 'Rs. 7,990']
['Galaxy S9', 'Rs. 24,999']
['Galaxy S8', 'Rs. 49,990']
['Galaxy Note8', 'Rs. 28,490']
['Galaxy J6', 'Rs. 10,490']
['Galaxy J4+', 'Rs. 8,490']
['Galaxy A8(2018)', 'Rs. 19,490']
['Galaxy S4', 'Rs. 28,490']
['Galaxy J7 Neo', 'Rs. 10,990']
['Galaxy M10', 'Rs. 7,990']
['Galaxy S6 Edge+', 'Rs. 37,299']
['Galaxy S9+', 'Rs. 24,999']
['Galaxy Note8', 'Rs. 28,490']
['Galaxy S10', 'Rs. 49,990']
['Galaxy A5(2016)', 'Rs. 18,000']
['Galaxy A7(2017)', 'Rs. 25,900']
['Galaxy S10e', 'Rs. 44,900']
['Galaxy J6', 'Rs. 10,490']
['Galaxy Note4', 'Rs. 28,490']
['Galaxy J8', 'Rs. 15,499']
['Galaxy A8', 'Rs. 19,490']
['Galaxy A5', 'Rs. 28,490']
['Galaxy S8', 'Rs. 49,990']
['Galaxy S9+', 'Rs. 24,999']
['Galaxy S7 edge', 'Rs. 37,299']
['Galaxy S7', 'Rs. 28,490']
['Galaxy Note9', 'Rs. 28,490']
['Galaxy C7 Pro', 'Rs. 18,700']
['Galaxy S9', 'Rs. 24,999']
['Galaxy J5', 'Rs. 13,500']
['Galaxy On8', 'Rs. 28,490']
['Galaxy Note5', 'Rs. 28,490']
['Galaxy A7 (2018)', 'Rs. 18,400']
['Galaxy J3(2016)', 'Rs. 8,299']
['Galaxy Note5', 'Rs. 28,490']
['Galaxy S6 Edge+', 'Rs. 37,299']
['Galaxy E5', 'Rs. 28,490']
['Galaxy On5', 'Rs. 28,490']
['Galaxy S9', 'Rs. 24,999']
['Galaxy Note8', 'Rs. 28,490']
['Galaxy A7(2016)', 'Rs. 18,000']
['Galaxy S6', 'Rs. 37,299']
['Galaxy A7', 'Rs. 25,900']
['Galaxy S6 Edge+', 'Rs. 37,299']
['Galaxy Note9', 'Rs. 28,490']
['Galaxy J7 Prime2', 'Rs. 10,990']
['Galaxy S9+', 'Rs. 24,999']
['Galaxy S10+', 'Rs. 49,990']
['Galaxy J7 Max', 'Rs. 11,046']
['Galaxy On6', 'Rs. 28,490']
['Galaxy J4+', 'Rs. 8,490']
['Galaxy Note Fan Edition', 'Rs. 79,999']
['Galaxy Note8', 'Rs. 28,490']
['Galaxy On8', 'Rs. 28,490']
['Galaxy S8+', 'Rs. 49,990']
['Galaxy A30', 'Rs. 14,799']
['Galaxy J7(2016)', 'Rs. 13,800']
['Galaxy J7 Prime', 'Rs. 16,000']
['Galaxy J7', 'Rs. 10,990']
['Galaxy S3', 'Rs. 22,140']
['Galaxy Note4', 'Rs. 28,490']
['Galaxy S7 Edge', 'Rs. 37,299']
['Galaxy S8', 'Rs. 49,990']
['Galaxy A8+(2018)', 'Rs. 19,490']
['Galaxy J6+', 'Rs. 10,490']
['Galaxy S8+', 'Rs. 49,990']
['Galaxy Tab S3', 'Rs. 22,140']
['Galaxy S6 edge+', 'Rs. 37,299']
['Galaxy S7', 'Rs. 28,490']
['Galaxy J2', 'Rs. 6,799']
['Galaxy A9 Pro', 'Rs. 25,990']
['Galaxy Tab A (2017)', 'Rs. 17,270']
['Galaxy A6', 'Rs. 19,999']
['Galaxy M20', 'Rs. 9,999']
['Galaxy J3 Pro', 'Rs. 8,299']

  2%|▏         | 1/42 [04:03<2:46:35, 243.80s/it]

['Galaxy J2 Core', 'Rs. 6,190']
['vivo 1714', 'Rs. 11,400']
['vivo 1812', 'Rs. 11,400']
['Y55', 0]
['1609', 0]
['vivo 1814', 'Rs. 11,400']
['1601', 'Rs. 18,915']
['vivo 1803', 'Rs. 11,400']
['vivo 1818', 'Rs. 11,400']
['Y55s', 'Rs. 13,490']
['vivo 1611', 'Rs. 11,400']
['vivo 1805', 'Rs. 11,400']
['vivo 1807', 'Rs. 11,400']
['vivo 1724', 'Rs. 11,400']
['vivo 1804', 'Rs. 11,400']
['V9', 'Rs. 18,900']
['vivo 1816', 'Rs. 11,400']
['1601', 'Rs. 18,915']
['Y53', 'Rs. 8,490']
['V1', 'Rs. 18,330']
['vivo 1815', 'Rs. 11,400']
['Y71', 'Rs. 9,450']
['V9 Pro', 'Rs. 16,300']
['vivo 1718', 'Rs. 15,990']
['vivo 1726', 'Rs. 11,400']
['V9 6GB', 'Rs. 16,300']
['vivo 1725', 'Rs. 11,400']
['Y31L', 'Rs. 8,599']
['V3', 'Rs. 17,008']
['vivo 1802', 'Rs. 11,400']
['Y21L', 'Rs. 8,490']
['vivo 1806', 'Rs. 11,400']
['V3Max', 0]

  5%|▍         | 2/42 [05:11<2:07:13, 190.83s/it]

['vivo 1716', 'Rs. 22,221']
['OnePlus5', 0]
['One', 'Rs. 10,499']
['OnePlus 6', 'Rs. 31,499']
['OnePlus6T', 0]
['2', 'Rs. 32,290']
['OnePlus5T', 0]
['3', 'Rs. 5,999']

  7%|▋         | 3/42 [05:27<1:30:05, 138.60s/it]

['OnePlus', 'Rs. 34,979']

 10%|▉         | 4/42 [05:30<1:01:55, 97.77s/it]

['Razer Phone', 'Rs. 1,029']
['BlackBerry Evolve', 'Rs. 16,000']
['BlackBerry KEYone', 'Rs. 16,000']

 12%|█▏        | 5/42 [05:37<43:27, 70.47s/it]

['PRIV by BlackBerry', 'Rs. 9,989']
['Moto E (4)', 'Rs. 15,290']
['moto g(6) play', 'Rs. 17,499']
['moto e(5) plus', 'Rs. 31,999']
['Moto G (1st Gen)', 'Rs. 10,999']
['Moto X (2nd Gen)', 'Rs. 19,999']
['Moto G (3rd Gen)', 'Rs. 10,999']
['Moto Z Play', 'Rs. 17,499']
['Moto E (4) Plus', 'Rs. 31,999']
['Moto G (5) Plus', 'Rs. 13,500']
['Moto G (2nd Gen)', 'Rs. 13,500']
['Moto X Force', 'Rs. 17,499']
['Moto E (2nd Gen)', 'Rs. 19,999']
['Moto G Turbo Edition', 'Rs. 16,999']
['Moto G (4) Play', 'Rs. 17,499']
['Moto G (5) Plus', 'Rs. 13,500']
['Moto G (5)', 'Rs. 13,500']
['Moto G (5S) Plus', 'Rs. 10,999']
['Moto Z (2) Play', 'Rs. 17,499']
['Moto C Plus', 'Rs. 31,999']
['Moto X Play', 'Rs. 17,499']
['Moto X (4)', 'Rs. 17,499']
['moto e6', 'Rs. 31,999']
['moto g(6) plus', 'Rs. 10,999']
['Moto Z (2) Force', 'Rs. 31,999']
['Moto G (5S)', 'Rs. 10,999']
['Nexus 6', 'Rs. 42,998']

 14%|█▍        | 6/42 [06:39<40:45, 67.93s/it]

['motorola one power', 'Rs. 10,499']
['Nokia 8.1', 'Rs. 9,499']
['Nokia 6.1', 'Rs. 9,499']
['Nokia 7 plus', 'Rs. 9,499']
['Nokia 2', 'Rs. 7,007']
['Nokia 5', 'Rs. 11,990']
['Nokia 3', 'Rs. 7,999']
['Nokia 6.1 Plus', 'Rs. 9,499']
['Nokia 5.1 Plus', 'Rs. 6,999']
['Nokia 2.1', 'Rs. 5,099']
['Nokia 6', 'Rs. 6,999']
['Nokia 3.1 Plus', 'Rs. 7,948']
['Nokia 7.1', 'Rs. 12,499']
['Nokia 8 Sirocco', 'Rs. 54,999']

 17%|█▋        | 7/42 [07:09<33:02, 56.63s/it]

['Nokia 8', 'Rs. 54,999']
['Z61', 'Rs. 4,799']
['Z61-2GB', 'Rs. 5,999']
['Z10', 'Rs. 7,500']
['Z91', 'Rs. 6,980']
['Z60', 'Rs. 4,440']
['Z25', 'Rs. 12,400']
['Z90', 'Rs. 8,999']

 19%|█▉        | 8/42 [07:23<24:50, 43.83s/it]

['IRIS88S', 0]
['X9009', 'Rs. 27,500']
['CPH1723', 0]
['CPH1717', 0]
['realme U1', 'Rs. 12,334']
['CPH1613', 'Rs. 17,900']
['realme 1', 'Rs. 10,999']
['realme 3', 'Rs. 8,499']
['F7', 'Rs. 14,999']
['CPH1701', 'Rs. 13,500']
['F7', 'Rs. 14,999']
['realme 2 Pro', 'Rs. 11,490']
['A1601', 'Rs. 17,990']
['F9', 'Rs. 16,990']
['CPH1725', 'Rs. 8,799']
['F11 Pro', 'Rs. 16,990']
['A33w', 0]
['CPH1609', 0]
['A51w', 0]
['CPH1801', 0]
['A37f', 'Rs. 10,000']
['realme C1', 'Rs. 6,999']
['A7', 'Rs. 10,990']
['realme 1', 'Rs. 10,999']
['F1f', 0]
['A3s', 'Rs. 9,299']
['CPH1727', 'Rs. 24,990']
['F9', 'Rs. 16,990']
['A37f', 'Rs. 10,000']
['CPH1893', 0]
['A33f', 'Rs. 10,000']
['R17 Pro', 'Rs. 31,590']
['A5', 'Rs. 1,065']
['realme U1', 'Rs. 12,334']
['realme 2', 'Rs. 8,890']

 21%|██▏       | 9/42 [08:27<27:25, 49.85s/it]

['CPH1729', 0]
['LG G6', 'Rs. 16,000']
['G Vista', 'Rs. 42,021']
['V30', 'Rs. 24,999']
['V20', 'N/A']
['LG K4', 'Rs. 3,699']
['V40 ThinQ', 'Rs. 29,999']
['LG Stylus2 4G', 'Rs. 8,499']
['LG Stylus3', 'Rs. 16,000']
['G Pro Lite', 'Rs. 740']
['LG G5', 'Rs. 16,000']
['LG G Stylo', 'Rs. 42,021']
['LG G7 ThinQ', 'Rs. 48,999']
['Nexus 5', 'Rs. 42,998']
['LG Stylus 2', 'Rs. 15,899']
['LG K10 (2017)', 'Rs. 1,249']
['LG Q6', 'Rs. 9,640']

 24%|██▍       | 10/42 [09:03<24:23, 45.72s/it]

['Nexus 5X', 'Rs. 42,998']
['3600i', 'N/A']
['C103', 'Rs. 6,000']
['Y83-I00', 'Rs. 11,790']

 26%|██▌       | 11/42 [09:09<17:34, 34.01s/it]

['3503I', 0]
['0PK72', 0]
['Desire 830 dual sim', 'Rs. 7,999']
['Desire 816G dual', 'Rs. 21,990']
['D728w', 0]
['U11', 'Rs. 53,990']
['Desire 828 dual sim', 'Rs. 9,199']
['Desire 12+', 'Rs. 7,999']
['0P9C8', 0]
['Desire 10 pro', 'Rs. 7,999']

 29%|██▊       | 12/42 [09:30<14:59, 29.99s/it]

['Desire 526G+ dual sim', 'Rs. 7,999']
['Honor 5C', 'Rs. 13,999']
['HUAWEI Y8s', 'Rs. 39,999']
['Nexus 6P', 'Rs. 42,998']
['P9 lite', 'Rs. 39,999']
['HUAWEI Mate 20 Pro', 'Rs. 52,990']
['Honor 10 Lite', 'Rs. 11,599']
['HONOR View20', 'Rs. 13,999']
['Honor 9', 'Rs. 8,499']
['Honor 7C', 'Rs. 12,999']
['HUAWEI Y7 2018', 'Rs. 39,999']
['H60-L04', 'Rs. 9,799']
['nova 3', 'Rs. 21,999']
['Honor Play', 'Rs. 6,499']
['HUAWEI MediaPad T3 10', 'Rs. 11,999']
['HUWEI MediaPad T3', 'Rs. 9,999']
['Honor 7A', 'Rs. 7,499']
['P20 lite', 'Rs. 740']
['荣耀畅玩7X', 'Rs. 12,722']
['P20 Pro', 'Rs. 5,499']
['P8 Lite', 'Rs. 3,499']
['Y6 Pro', 'Rs. 5,499']
['Che1-L04', 'Rs. 9,799']
['honor 6x', 'Rs. 13,999']
['honor 8C', 'Rs. 12,999']
['nova 2i', 'Rs. 21,999']
['Huawei Y9 2019', 'Rs. 15,990']
['P10 Plus', 'Rs. 25,999']
['Honor 9N', 'Rs. 9,499']
['荣耀畅玩5A', 'Rs. 4,898']
['Che2-L11', 0]
['Honor 6X', 'Rs. 13,999']
['Honor 8x', 'Rs. 11,599']
['Honor 10', 'Rs. 11,999']
['FRD-L02', 'Rs. 29,999']
['荣耀8青春版', 'Rs. 18,999']
['Honor 8 Pro', 'Rs. 13,999']
['GX8', 0]
['P20', 'N/A']
['PORSCHE DESIGN HUAWEI Mate RS', 'Rs. 1,185']
['HUAWEI Nova 3i', 'Rs. 21,999']
['Honor View 10', 'Rs. 11,999']
['荣耀9青春版', 'Rs. 36,899']
['nova 3e', 'Rs. 21,999']

 31%|███       | 13/42 [11:10<24:34, 50.85s/it]

['nova 3i', 'Rs. 21,999']
['A5500-HV', 'Rs. 14,000']
['Moto E3 Power', 'Rs. 31,999']
['Lenovo PHAB2', 'Rs. 5,799']
['Lenovo K8', 'Rs. 7,637']
['PB1-750M/Lenovo PHAB', 'Rs. 5,799']
['K5 Plus', 'Rs. 849']
['P1', 'Rs. 545']
['Motorola M', 'Rs. 7,999']
['VIBE X3 Lite', 'Rs. 899']
['K5 Note', 'Rs. 13,499']
['P2', 'Rs. 635']
['A6010', 'Rs. 5,990']
['A7000', 'Rs. 14,000']
['VIBE K6 Note', 'Rs. 10,999']
['S1', 'Rs. 7,495']
['Lenovo PHAB2 Plus', 'Rs. 18,999']
['K5', 'Rs. 3,699']
['Lenovo K8 Note', 'Rs. 7,199']
['VIBE K6 Power', 'Rs. 899']
['K9', 'Rs. 3,599']
['K3 Note', 'Rs. 9,999']
['Lenovo K8 Plus', 'Rs. 7,899']

 33%|███▎      | 14/42 [11:59<23:29, 50.35s/it]

['K920/VIBE Z2', 'Rs. 899']

 36%|███▌      | 15/42 [12:01<16:06, 35.81s/it]

['realme 2 Pro', 'Rs. 11,490']
['Xperia XZs', 'Rs. 32,999']
['Xperia R1', 'Rs. 12,086']
['Xperia X', 'Rs. 15,799']
['Xperia Z2', 'Rs. 15,499']
['Xperia Z5 Premium', 'Rs. 4,299']
['Xperia C5 Ultra Dual', 'Rs. 1,449']
['Xperia Z2', 'Rs. 15,499']
['Xperia XA1 Plus', 'Rs. 74,100']
['Xperia XA1', 'Rs. 25,990']
['Xperia Z', 'Rs. 8,999']
['Xperia XA1 Ultra', 'Rs. 1,449']
['Xperia XA1', 'Rs. 25,990']
['Xperia X', 'Rs. 15,799']
['Xperia XZ Premium', 'Rs. 4,299']
['Xperia R1 Plus', 'Rs. 74,100']

 38%|███▊      | 16/42 [12:36<15:23, 35.54s/it]

['Xperia XA Ultra', 'Rs. 1,449']
['ZenFone Max (ZC550KL)', 'Rs. 5,999']
['ZenFone Max M1 (ZB556KL) / ZenFone Max M1/M2/M3 (ZB555KL)', 'Rs. 5,999']
['ZenFone Max Pro M1 (ZB602KL) (WW) / Max Pro M1 (ZB601KL) (IN)', 'Rs. 8,499']
['ZenFone 2 (ZE551ML)', 'Rs. 16,999']
['ZenFone 5Z (ZS620KL) (WW) / 5Z (ZS621KL) (IN)', 'Rs. 21,999']
['ZenFone 2 Laser (ZE550KL)', 'Rs. 13,699']
['ZenFone Live Plus (ZB553KL)', 'Rs. 6,499']
['ZenFone Max Pro M2 (ZB631KL) (WW) / Max Pro M2 (ZB630KL) (IN)', 'Rs. 11,999']
['ZenFone Max M2 (ZB633KL) (WW) / Max M2 (ZB632KL) (IN)', 'Rs. 7,499']
['ZenFone Max Plus M1 (ZB570TL)', 'Rs. 5,999']
['ZenFone Lite L1 (ZA551KL) / ZenFone Live L1/L2 (ZA550KL)', 'Rs. 6,499']
['ROG Phone', 'Rs. 69,999']

 40%|████      | 17/42 [13:05<14:05, 33.81s/it]

['ZenFone 3 Zoom (ZE553KL)', 'Rs. 6,499']
['Redmi 4A', 'Rs. 7,899']
['Redmi Note 5A', 'Rs. 5,999']
['Redmi  Note  7 Pro', 'Rs. 10,999']
['MI 8 Lite', 'Rs. 11,828']
['Redmi 5 Plus', 'Rs. 6,899']
['Redmi 6 Pro', 'Rs. 9,789']
['Redmi 6A', 'Rs. 5,689']
['Redmi Note 5 Pro', 'Rs. 14,999']
['HM 2LTE-IN', 'Rs. 7,260']
['Redmi Note 4', 'Rs. 10,999']
['POCO F1', 'Rs. 14,999']
['Mi A1', 'Rs. 14,999']
['Redmi 5A', 'Rs. 5,999']
['MI MAX', 'Rs. 12,999']
['Mi A2', 'Rs. 10,599']
['Mi 4i', 'Rs. 11,828']
['Redmi Note 3', 'Rs. 9,789']
['MIX 2', 'Rs. 29,999']
['Redmi 5', 'Rs. 6,899']
['Redmi 5 Plus', 'Rs. 6,899']
['Redmi 4', 'Rs. 8,999']
['Redmi  Note  6  Pro', 'Rs. 9,789']
['Mi 5', 'Rs. 11,828']
['Redmi Note 4', 'Rs. 10,999']
['MI MAX 2', 'Rs. 12,999']
['Redmi 3S', 'Rs. 7,999']
['Redmi 4X', 'Rs. 7,999']
['MI 3W', 'Rs. 11,828']
['Redmi  S2', 'Rs. 7,999']
['HM NOTE 1LTETD', 'Rs. 12,050']

 43%|████▎     | 18/42 [14:14<17:39, 44.13s/it]

['Redmi Note 5A', 'Rs. 5,999']
['Redmi 6', 'Rs. 7,438']

 45%|████▌     | 19/42 [14:18<12:21, 32.25s/it]

['Redmi  Note  7', 'Rs. 10,994']

 48%|████▊     | 20/42 [14:20<08:26, 23.02s/it]

['Srtphone', 0]
['Canvas Infinity', 'Rs. 5,299']
['YUNIQUE', 'Rs. 4,799']
['Spark 4g', 'Rs. 56,990']

 50%|█████     | 21/42 [14:28<06:31, 18.66s/it]

['Canvas 5', 'Rs. 4,399']
['P55 Novo', 'Rs. 9,889']
['Eluga Arc', 'Rs. 7,300']
['Eluga Ray X', 'Rs. 7,999']

 52%|█████▏    | 22/42 [14:38<05:19, 15.96s/it]

['ELUGA Ray 700', 'Rs. 6,990']
['A1', 'Rs. 799']
['P7 Max', 'Rs. 13,000']
['A1 Lite', 'Rs. 5,999']
['S plus', 'Rs. 74,100']
['X1S', 'N/A']
['M5 Lite', 'Rs. 20,999']
['S6s', 'Rs. 15,999']
['M7 Power', 'Rs. 20,000']
['A1 Plus', 'Rs. 799']

 55%|█████▍    | 23/42 [14:59<05:32, 17.48s/it]

['F103 Pro', 'Rs. 5,499']
['LS-5201', 'Rs. 19,499']
['LS-5002', 'Rs. 19,499']

 57%|█████▋    | 24/42 [15:05<04:15, 14.20s/it]

['LS-5504', 'Rs. 19,499']
['Emulator', 0]
['Pixel', 'Rs. 66,785']
['Pixel 2', 'Rs. 66,785']
['Pixel XL', 'Rs. 66,785']
['Pixel 3', 'Rs. 57,999']
['Pixel 2 XL', 'Rs. 66,785']

 60%|█████▉    | 25/42 [15:20<04:03, 14.31s/it]

['Pixel 3 XL', 'Rs. 57,999']
['Camon I', 'Rs. 8,999']
['i3', 'Rs. 9,993']
['CAMON iClick', 'Rs. 12,985']

 62%|██████▏   | 26/42 [15:29<03:21, 12.62s/it]

['CAMON iSky', 'Rs. 7,999']
['D', 'Rs. 11,490']

 64%|██████▍   | 27/42 [15:33<02:34, 10.30s/it]

['G', 'Rs. 42,021']
['Lenovo Z2 Plus', 'Rs. 15,499']

 67%|██████▋   | 28/42 [15:38<01:59,  8.51s/it]

['Z1', 'Rs. 6,999']
['Zero 5', 'Rs. 17,999']
['HOT S3', 'Rs. 9,999']
['Infinix NOTE 5', 'Rs. 7,599']

 69%|██████▉   | 29/42 [15:47<01:52,  8.65s/it]

['HOT 6 Pro', 'Rs. 10,999']
['InFocus M7 Lite', 'Rs. 4,999']

 71%|███████▏  | 30/42 [15:51<01:26,  7.23s/it]

['IF9001', 'Rs. 7,500']

 74%|███████▍  | 31/42 [15:52<01:01,  5.58s/it]

['A1', 'Rs. 799']

 76%|███████▌  | 32/42 [15:54<00:44,  4.43s/it]

['Z1', 'Rs. 6,999']

 79%|███████▊  | 33/42 [15:56<00:32,  3.57s/it]

['S21', 'Rs. 5,449']

 81%|████████  | 34/42 [15:57<00:23,  2.93s/it]

['IV0318ND', 0]

 83%|████████▎ | 35/42 [15:59<00:19,  2.72s/it]

['X1 Dual', 'Rs. 6,950']

 86%|████████▌ | 36/42 [16:02<00:15,  2.62s/it]

['meizu C9', 'Rs. 3,559']

 88%|████████▊ | 37/42 [16:03<00:11,  2.32s/it]

['YUNICORN', 'Rs. 5,799']

 90%|█████████ | 38/42 [16:05<00:08,  2.09s/it]

['Hi9Pro', 0]

 93%|█████████▎| 39/42 [16:07<00:05,  1.98s/it]

['Billion Capture+', 'Rs. 13,999']

 95%|█████████▌| 40/42 [16:09<00:04,  2.07s/it]

['iBall Slide Snap 4G2', 'Rs. 7,999']

 98%|█████████▊| 41/42 [16:11<00:02,  2.08s/it]

['Le 2', 'Rs. 8,999']

100%|██████████| 42/42 [16:13<00:00, 23.18s/it]

['R1 HD', 'Rs. 6,499']

In [10]:
for i in brand_di:
    for it in range(len(brand_di[i])):
            brand_di[i][it].append(i)

In [11]:
sys_na = []
model = []
price =[]
brand_name = []
for i in brand_di:
    for it in range(len(brand_di[i])):
            sys_na.append(brand_di[i][it][0])
            model.append(brand_di[i][it][1])
            price.append(brand_di[i][it][2])
            brand_name.append(brand_di[i][it][3])

In [12]:
data = pd.DataFrame({'System_Model_Name':sys_na,'Device':model,'Price':price,'Brand_Name':brand_name})

In [13]:
data.head()

  System_Model_Name         Device       Price Brand_Name
0          SM-A800F      Galaxy A8  Rs. 19,490    Samsung
1          SM-J400F      Galaxy J4   Rs. 8,490    Samsung
2          SM-G950F      Galaxy S8  Rs. 49,990    Samsung
3          SM-G7102  Galaxy Grand2  Rs. 28,490    Samsung
4         SM-G615FU  Galaxy On Max   Rs. 9,499    Samsung

In [14]:
brand_stats = pd.read_csv('data/Brand_Stats.csv')

In [15]:
brand_stats.drop('Unnamed: 0',axis = 1,inplace = True)

In [16]:
brand_stats.Brand = brand_stats.Brand.apply(lambda x : x.lower())
brand_stats.Brand = brand_stats.Brand.apply(lambda x : x.replace(' ',''))

data.Brand_Name = data.Brand_Name.apply(lambda x : x.lower())
data.Brand_Name = data.Brand_Name.apply(lambda x : x.replace(' ',''))

In [17]:
data_brand = pd.merge(data,brand_stats,how = 'left', right_on = 'Brand',left_on='Brand_Name')

In [21]:
def get_brand(inp):
    try:
        print(inp)
        url_des = 'https://pricebaba.com/search?limit=40&status=10&status=20&status=30&status=40&category=MOBILE&active=true&start=0&q='+str(inp)+'&sort=online_price-desc'
        
        url_asc = 'https://pricebaba.com/search?limit=40&status=10&status=20&status=30&status=40&category=MOBILE&active=true&start=0&q='+str(inp)+'&sort=online_price-asc'
        rd = requests.get(url_des)
        ra = requests.get(url_asc)
        soupd = BeautifulSoup(rd.content, 'lxml')
        soupa = BeautifulSoup(ra.content, 'lxml')
        up = soupd.findAll('span',{'class':'d-block txt-al-c'})[0].getText()
        low = soupa.findAll('span',{'class':'d-block txt-al-c'})[0].getText()
        return up,low
    except:
        return 0,0
left_brands = {}
for i in data_brand[data_brand['Brand'].isna()]['Brand_Name'].unique().tolist():
    left_brands[i] = []
    
    
for i in data_brand[data_brand['Brand'].isna()]['Brand_Name'].unique().tolist():
    input_ = i.lower().strip()
    up,low =get_brand(input_)
    print(up)
    print(low)
    left_brands[i].append(up)
    left_brands[i].append(low)
#     data_brand.loc[[data_brand['Brand_Name']==i]]['Brand_Price_Max'] = up
    
#     data_brand[data_brand['Brand_Name']==i]['Brand_Price_Min'].iloc[:]=low

razer
0
0
lge
0
0
sony
Rs. 83,750
Rs. 2,899
redmi
Rs. 32,290
Rs. 4,465
10.or
Rs. 89,999
Rs. 799
zuk
Rs. 21,999
Rs. 8,000
asanzo
0
0
chuwi
0
0
letv
0
0
blu
Rs. 9,100
Rs. 1,360

In [28]:
for i in range(data_brand.shape[0]):
    if(data_brand['Brand_Name'].iloc[i] in left_brands.keys()):
        data_brand['Brand_Price_Max'].iloc[i] = left_brands[data_brand['Brand_Name'].iloc[i]][0]
        data_brand['Brand_Price_Min'].iloc[i] = left_brands[data_brand['Brand_Name'].iloc[i]][1]

In [20]:
#sys_model_name model brand exact_price max min     price()   cat

['LDN-L21', 'HUAWEI Y7 2018', 'Rs. 39,999']

In [29]:
left_brands['sony'][0]

'Rs. 83,750'

In [32]:
data_brand[data_brand.Brand_Name == 'chuwi']

,System_Model_Name,Device,Price,Brand_Name,Brand,Brand_Price_Mean,Brand_Price_Min,Brand_Price_Max
454,Hi9Pro,Hi9Pro,0,chuwi,NaN,NaN,0,0

In [97]:
data_brand.insert(8, 'Missing_Flag',0)
for i in range(data_brand.shape[0]):
    if(data_brand['Price'].iloc[i] == 0):
        data_brand['Price'].iloc[i] =data_brand['Brand_Price_Mean'].iloc[i] 
        data_brand['Missing_Flag'].iloc[i] =1
    else:
        data_brand['Missing_Flag'].iloc[i] =0

In [ ]:
data_brand.Price = data_brand.Price.str.extract('([0-9]+[,]?[0-9]*[,]?[0-9]*)')
data_brand.Price = data_brand.Price.str.replace(',','')
#data_brand.Price = data_brand.Price.astype(int)

In [112]:
#data_brand.insert(8, 'price_cat',0)
def encode_price(df,col):
    for i in range(df[col].shape[0]):
        try:
            if(int(df[col].iloc[i]) in range(0,1000)):
                df['price_cat'].iloc[i] = 0
            elif(int(df[col].iloc[i]) in range(1000,10000)):
                df['price_cat'].iloc[i] = 1
            elif(int(df[col].iloc[i]) in range(10000,20000)):
                df['price_cat'].iloc[i] = 2
            elif(int(df[col].iloc[i]) in range(20000,30000)):
                df['price_cat'].iloc[i] = 3
            elif(int(df[col].iloc[i]) in range(30000,40000)):
                df['price_cat'].iloc[i] = 4
            elif(int(df[col].iloc[i]) in range(40000,50000)):
                df['price_cat'].iloc[i] = 5
            elif(int(df[col].iloc[i]) in range(50000,60000)):
                df['price_cat'].iloc[i] = 6
            elif(int(df[col].iloc[i]) in range(60000,70000)):
                df['price_cat'].iloc[i] = 7
            elif(int(df[col].iloc[i]) in range(70000,80000)):
                df['price_cat'].iloc[i] = 8
            elif(int(df[col].iloc[i]) in range(80000,80000)):
                df['price_cat'].iloc[i] = 9
            elif(int(df[col].iloc[i]) in range(90000,100000)):
                df['price_cat'].iloc[i] = 10
            else:
                df['price_cat'].iloc[i] = 11
        except:
            pass
encode_price(data_brand,'Price')

In [115]:
data_brand.to_csv('Data_Final.csv')